<div class="address-book-container">
  <h1 class="page-title">Address Book</h1>
  <p class="page-subtitle">This is your Address Book page, where you can view or modify your addresses.</p>

  <button class="add-address-btn">
    <span class="plus-icon">+</span> Add address
  </button>

  <div *ngIf="addresses.length > 0; else noAddresses">
    <div class="address-card" *ngFor="let address of addresses">
      <div class="card-header">
        <div class="user-info">
          <h3 class="user-name">Address</h3>
          <p class="address-details">
            {{address.street}} {{address.number}}<br>
            {{address.city}}<br>
            {{address.postalCode}}<br>
            {{address.country}}
          </p>
        </div>
      </div>

      <div class="card-actions">
        <a href="#" class="action-link">Edit</a>
        <a href="#" class="action-link">Remove</a>
        <a href="#" class="action-link secondary">Set as billing address</a>
      </div>
    </div>
  </div>

  <ng-template #noAddresses>
    <p class="no-addresses-message">You don't have any saved addresses yet. <a href="#" class="add-link">Add your first address</a></p>
  </ng-template>
</div>
