<header class="main-header">
  <div class="top-banner">
    <div class="container">
      <div class="carousel-wrapper">
        @for (phrase of phrases; track $index) {
          @if ($index === currentIndex) {
            <p class="fade-text">
              {{ phrase }}
            </p>
          }
        }
      </div>
    </div>
  </div>

  <div class="navbar-main">
    <div class="container navbar-content">
      <div class="logo">
        <a routerLink="/">
          <img src="img/image3.png" alt="Gardenia Logo" class="logo-img logo-small" />
        </a>
      </div>

      <nav class="nav-menu">
        @for (category of categories; track $index) {
          <li class="has-dropdown" [class.open]="activeMenu === category.name">
            <div class="menu-container" (mouseleave)="activeMenu = null">
              <a
                href="javascript:void(0)"
                (mouseenter)="toggleMenu(category.name, $event)"
                routerLinkActive="active"
              >
                {{ category.name }} <span class="arrow">▼</span>
              </a>
              <ul class="submenu" (click)="$event.stopPropagation()">
                @for (sub of subcategoriesMap[category.id]; track sub.id) {
                  <li>
                    <a
                      routerLink="/category/{{ category.name }}/{{ sub.subcategoryName }}"
                      [queryParams]="{ subcategoryId: sub.id }"
                    >
                      {{ sub.subcategoryName }}
                    </a>
                  </li>
                }
              </ul>
            </div>
          </li>
        }

        <li><a routerLink="/about-us" routerLinkActive="active">About Us</a></li>
      </nav>

      <div class="user-actions">
        <a routerLink="/cart" class="action-link cart-link enhanced-link">
          <mat-icon>shopping_cart</mat-icon>
          <span>Cart</span>
          <span class="cart-count" *ngIf="cartService.cartCount() > 0">
            {{ cartService.cartCount() }}
          </span>
        </a>
        <a *ngIf="isAdmin" routerLink="/admin" class="action-link enhanced-link">
          <mat-icon>admin_panel_settings</mat-icon>
          <span>Admin</span>
        </a>
        <ng-container *ngIf="isLoggedIn; else loginLink">
          <a routerLink="/user" class="action-link enhanced-link">
            <mat-icon>account_circle</mat-icon>
            <span>Profile</span>
          </a>
          <button (click)="logout()" class="action-link enhanced-link">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </ng-container>

        <ng-template #loginLink>
          <a routerLink="/login" class="action-link enhanced-link">
            <mat-icon>person</mat-icon>
            <span>Login</span>
          </a>
        </ng-template>
      </div>
    </div>
  </div>
</header>
