<div class="home-container">
  <section class="image-grid">
    
    <div class="grid-wrapper">
      <div class="grid-item">
        <img src="https://images.unsplash.com/photo-1485955900006-10f4d324d411?auto=format&fit=crop&w=600&q=80" alt="Plant" />
        <div class="item-overlay">
          <h3>Plant</h3>
          <a routerLink="/shop" class="btn-shop">Discover</a>
        </div>
      </div>

      <div class="grid-item">
        <img src="https://images.unsplash.com/photo-1459156212016-c812468e2115?auto=format&fit=crop&w=600&q=80" alt="Pot" />
        <div class="item-overlay">
          <h3>Pot</h3>
          <a routerLink="/shop" class="btn-shop">Discover</a>
        </div>
      </div>

      <div class="grid-item">
        <img src="img/image2.png" alt="Rose" />
        <div class="item-overlay">
          <h3>Rose</h3>
          <a routerLink="/shop" class="btn-shop">Discover</a>
        </div>
      </div>

      <div class="grid-item">
        <img src="https://images.unsplash.com/photo-1466692476868-aef1dfb1e735?auto=format&fit=crop&w=600&q=80" alt="Soil" />
        <div class="item-overlay">
          <h3>Soil</h3>
          <a routerLink="/shop" class="btn-shop">Discover</a>
        </div>
      </div>

      <div class="grid-item">
        <img src="img/image2.png" alt="Gift Ideas" />
        <div class="item-overlay">
          <h3>Gift Ideas</h3>
          <a routerLink="/shop" class="btn-shop">Discover</a>
        </div>
      </div>
    </div>
  </section>
</div>