<aside class="sidebar-box">
<h2 class="welcome-msg">Hello {{ userName }}!</h2>
  <nav class="nav-menu">
    <a routerLink="/user/overview" routerLinkActive="active" class="nav-item">
      Account Overview
    </a>
    
    <a routerLink="/user/address" routerLinkActive="active" class="nav-item">
      Address Book
    </a>

    <a routerLink="/user/orders" routerLinkActive="active" class="nav-item">
      My Orders
    </a>
    
    <a (click)="logout()" class="nav-item logout">Logout</a>
  </nav>
</aside>