<div class="cart-page-container">
  
  <div class="cart-header">
    <h2>Your Cart</h2>
    </div>

  <div class="shipping-bar">
    <p *ngIf="mancanoPerSpedizione > 0">
      Add <strong>{{ mancanoPerSpedizione | currency:'EUR' }}</strong> for free shipping!
    </p>
    <p *ngIf="mancanoPerSpedizione <= 0"> You've unlocked <strong>free shipping!</strong></p>
    <mat-progress-bar mode="determinate" [value]="percentualeSpedizione"></mat-progress-bar>
  </div>

  <div class="cart-items">
    <div class="cart-item" *ngFor="let item of items">
      <img [src]="item.immagine" [alt]="item.nome">
      <div class="item-details">
        <h4>{{ item.nome }}</h4>
        <p>{{ item.info }}</p>
        <div class="quantity-controls">
          <button mat-icon-button (click)="cambiaQuantita(item, -1)"><mat-icon>remove</mat-icon></button>
          <span>{{ item.quantita }}</span>
          <button mat-icon-button (click)="cambiaQuantita(item, 1)"><mat-icon>add</mat-icon></button>
        </div>
      </div>
      <div class="item-price">{{ (item.prezzo * item.quantita) | currency:'EUR' }}</div>
    </div>
  </div>

 <div class="cart-footer" *ngIf="items.length > 0">
  <div class="subtotal">
    <span>Subtotal:</span>
    <span>{{ subtotal | currency:'EUR' }}</span>
  </div>
  
  <button mat-flat-button class="checkout-btn" routerLink="/pagamento">
    Proceed to Checkout
  </button>
</div>

</div>